@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';

/* [Master Stylesheet - v1.0] */

/* =========== Index of CSS ===========
:: 1.0 Import Fonts
:: 2.0 Import All CSS 
:: 3.0 Base CSS
    :: 3.1.0 Spacing
    :: 3.2.0 Height
    :: 3.3.0 Section Padding
    :: 3.4.0 Section Heading
*/

/* :: 1.0 Import Fonts */

// @import url('https://fonts.googleapis.com/css?family=Allura|Raleway:200,300,400,500,600,700,800,900');

/* :: 2.0 Import All CSS */

@import 'bootstrap.min.css';
// @import 'classy-nav.css';
@import 'owl.carousel.min.css';
@import 'animate.css';
// @import 'magnific-popup.css';
@import 'font-awesome.min.css';
@import 'jquery-ui.css';
@import 'lightslider.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
    font-size: 14px;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-family: $fonts;
//     color: $heading-color;
//     line-height: 1.3;
//     font-weight: 700;

// }

// p {
//     font-family: $fonts;
//     color: $text-color;
//     font-size: 14px;
//     line-height: 2;
//     font-weight: 500;
// }


a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0 solid transparent;
    color: $dark-color;
    // font-weight: 600;
    // font-size: 14px;
    font-family: $fonts;
}

// ul,
// ol {
//     margin: 0;
//     li {
//         list-style: none;
//     }
// }

img {
    height: auto;
    // max-width: 100%;
    width: 100%;
    // min-width: 100%;
}

/* :: 3.1.0 Spacing */
.mt-0{
    margin-top: 0px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-0{
    margin-bottom: 0px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-0{
    margin-left: 0px !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mr-0{
    margin-right: 0px !important;
}
.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* :: 3.2.0 Height */
.height-100{
    height: 100px !important;
}
.height-100-pt{
    height: 100% !important;
}
.height-250{
    height: 250px !important;
}
.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}
.text-align-right{
    text-align: right;
}
.text-align-left{
    text-align: left;
}
/* :: 3.3.0 Section Padding */

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}
.section-padding-50-0 {
    padding-top: 50px;
    padding-bottom: 0;
}
.section-padding-30-0 {
    padding-top: 30px;
    padding-bottom: 0;
}
.section-padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.align-items-center{
    align-items: center;
}
button{
    &:focus{
        box-shadow: none !important;
    }
}
.max-width-50pt{
    max-width: 50%;
    margin: auto;
}
/* :: 3.4.0 Section Heading */
.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    text-align: center;
    h2 {
        font-size: 48px;
        color: $white-color;
        text-transform: uppercase;
        font-weight: 900;
        @media #{$breakpoint-lg} {
            font-size: 40px;
        }
        @media #{$breakpoint-md} {
            font-size: 36px;
        }
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    h6 {
        font-size: 16px;
        margin-bottom: 0;
        color: #c5afd9;
    }
    &.dark {
        h2 {
            color: $heading-color;
        }
        h6 {
            color: #c1c1c1;
        }
    }
}
.position-relative{
    position: relative;
}
// cotainer
body{
    position: relative;
}
.background_top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    background-position: center;
    background-size: cover;
    z-index: -1;
    -webkit-mask-size: 100%;
    -webkit-mask-image: -webkit-gradient(linear, center bottom, center top, color-stop(0.00, rgba(0,0,0,0)), color-stop(1.00, rgba(0,0,0,1)));
}
.barbershop-pole{
    background-image: repeating-linear-gradient(130deg, rgba(255, 192, 203, 0.4117647058823529), rgba(255, 192, 203, 0.4117647058823529) 30%, rgba(51, 51, 51, 0.8392156862745098) 10%, rgba(51, 51, 51, 0.8392156862745098) 80%);
    // padding-bottom: 200px;
}
.boxshow-container{
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.35);
    min-height: 500px;
    background-color: #fff;
}
.main-wap{
    position: relative;
    background-color: #fbe8ec;
    .bg-menu{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 500px;
        -webkit-mask-size: 100%;
        -webkit-mask-image: -webkit-gradient(linear, center bottom, center top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, black));
        background-size: cover;
        background-position: center;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}
.menu{
    .navbar-light{
        .navbar-nav{
            .nav-item{
                display: flex;
                .nav-link{
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    position:relative;
                    text-transform: capitalize;
                    flex-direction: column;
                }
            }
        }
    }
}
.contet-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 70px;
        text-transform: uppercase;
    }
    p{
        font-size: 30px;
    }
}
.contet-header-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        margin: auto;
        max-width:500px
    }
}
.box-sd-container{
    background-color: #fff;
    max-width: 900px;
    min-height: 300px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.35);
    position: relative;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .padding-left{
        padding-left: 80px;
        @media #{$breakpoint-xs}{
            padding-right: 20px;
            padding-left: 20px;
        }
    }
    .padding-right{
        padding-right: 80px;
        @media #{$breakpoint-xs}{
            padding-right: 20px;
            padding-left: 20px;
        }
    }
    .box_img{
        text-align: center;
        img{
            @media #{$breakpoint-xs}{
                max-width: 300px;
            }
        }
    }
}
.box-view-count{
    min-height: 100px;
    background-color: #333;
    .item{
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .icon{
            font-size: 30px;
            padding-right: 15px;        
        }
        .number{
            font-size: 20px
        }
        @media #{$breakpoint-xs}{
            margin-left: -15px;
            margin-right: -15px;
            padding: 10px 0px;
        }
    }
    .border-item{
        border-left: 1px solid #fbe8ec;
        border-right: 1px solid #fbe8ec;
        @media #{$breakpoint-xs}{
            border-left: 0;
            border-right: 0;
            border-top: 1px solid #fbe8ec;
            border-bottom: 1px solid #fbe8ec;
        }
    }
}
.box-sd-container-footer{
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    .padding-left{
        padding-left: 80px;
        @media #{$breakpoint-xs}{
            padding-left: 20px;
        }
    }
    .padding-right{
        padding-right: 80px;
        @media #{$breakpoint-xs}{
            padding-right: 20px;
        }
    }
}
.mw-900{
    max-width: 900px;
    margin: auto;
}
.footer{
    padding: 20px 0px;
    .footer_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: #fff;
        li{
            list-style: none;
            a{
                color: #fff;
            }
        }
        &.footer_box-3{
            flex-direction: row;
            li{
                padding: 0px 10px
            }
        }
    }
}
.fixed-header{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    background: #333;
    z-index: 111;
    top: 0;
    max-width: 1140px;
    transition: all .5s;
    padding-top: 0px;
    @media (min-width: 576px){
        max-width: 540px;
    }
    @media (min-width: 768px){
        max-width: 720px;
    }
    @media (min-width: 992px){
        max-width: 960px;
    }
    @media (min-width: 1200px){
        max-width: 1140px;
    }
    .navbar-light{
        .navbar-nav{
            .nav-link{
                color: #fff;
            }
        }
    }
}
#logo-scoll{
    display: none;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top{
    i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.9);
        i {
            color: #fff;
            top: 5px;
        }
    }
}